* {
	color: #e3e6e8;
	font-family: Verdana;
	font-size: 2vw;
	white-space: nowrap;
}

body {
	background-color: #424242;
}

#gameTable {
	border-spacing: 4vw 0;
	float: none;
	width: 100%;
	aspect-ratio: 3;
}

#statusLine {
	display: inline-block;
	margin-left: 1%;
}

div.row {
	display: block;
	padding-top: 1vw;
	padding-left: 4vw;
	width: 90.8vw;
}

div.row > a > img {
	padding-top: 1.5vw;
	float: right;
	height: 2vw;
	width: 2vw;
}

button {
	width: 14vw;
	aspect-ratio: 3;
	border-style: solid;
	border-color: #e3e6e8;
	border-width: 0.5vw;
	background-color: inherit;
	border-radius: 1vw;
}

button:disabled {
	border-color: #808080;
	color: #606060;
}

.box {
	border-style: solid;
	border-color: #606060;
	border-width: 0 0.4vw;
	z-index: 1;
	background-color: #303030;
}

tr:last-child > .box {
	border-bottom-width: 0.5vw;
	border-bottom-left-radius: 1.5vw;
	border-bottom-right-radius: 1.5vw;
}

.box.highlight {
	border-color: white;
}

.box > div {
	min-height: 5.25vw;
}

tr:last-child > .box > div {
	border-bottom-right-radius: 1vw;
	border-bottom-left-radius: 1vw;
}

.color1 {
	/* yellow */
	background-color: #ffbe0b;
}

.color2 {
	/* orange */
	background-color: #f18701;
}

.color3 {
	/* red */
	background-color: #e63946;
}

.color4 {
	/* purple */
	background-color: #8338ec;
}

.color5 {
	/* blue */
	background-color: #3a86ff;
}

.color6 {
	/* green */
	background-color: #38b000;
}

.color7 {
	/* brown */
	background-color: #a98467;
}

.color8 {
	/* light blue */
	background-color: #ade8f4;
}

.color9 {
	/* grey */
	background-color: #8d99ae;
}

.color10 {
	/* slime */
	background-color: #d9ed92;
}
