body {
	background-color: #424242;
	color: #e3e6e8;
}

#gameTable {
	border-spacing: 10px 0px;
	display: block;
	float: none;
}

#statusLine {
	margin: 10px;
}

#newPuzzleButton {
	margin-left:  10px;
}

button {
	margin-top: 10px;
}

a {
	margin-left: 10px;
}

.box {
	margin: 0;
	border-style: solid;
	border-color: black;
	border-top-color: #424242;
	border-bottom-width: 0px;
	border-left-width: 3px;
	border-right-width: 3px;
	border-top-width: 1px;
	padding: 20px 30px;
}

.first > .box {
	border-top-color: black;
	border-top-width: 3px;
}

.last > .box {
	border-bottom-width: 3px;
}

.color1 {
	/* red */
	background-color: #ff0303;
}

.color2 {
	/* blue */
	background-color: #0042ff;
}

.color3 {
	/* light blue */
	background-color: #7ebff1;
}

.color4 {
	/* purple */
	background-color: #86469c;
}

.color5 {
	/* yellow */
	background-color: #fefc00;
}

.color6 {
	/* orange */
	background-color: #fe890d;
}

.color7 {
	/* green */
	background-color: #21bf00;
}

.color8 {
	/* pink */
	background-color: #e45caf;
}

.color9 {
	/* gray */
	background-color: #939596;
}

.color10 {
	/* teal */
	background-color: #1be7ba;
}
